.Footer1
{
    margin-top: 20px;
    background-color: black;
    height: 200px;
    color: white;
    font-size: 13px;
    
}
.FooterMenu
{
    margin: auto;
    padding: 20px;
    width:600px;
}
.CopyRight
{
    font-size: 13px;
    
}